accelerate==0.19.0
aiohttp==3.8.4
aiosignal==1.3.1
anyascii==0.3.2
anyio==3.7.0
appdirs==1.4.4
async-timeout==4.0.2
attrs==23.1.0
audioread==3.0.0
Babel==2.12.1
bangla==0.0.2
blinker==1.6.2
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.1
boltons==23.0.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
clean-fid==0.1.35
click==8.1.3
clip-anytorch==2.5.2
contourpy==1.0.7
coqpit==0.0.17
cycler==0.11.0
Cython==0.29.28
dateparser==1.1.8
decorator==5.1.1
docker-pycreds==0.4.0
docopt==0.6.2
einops==0.6.1
exceptiongroup==1.1.1
fastapi==0.96.0
filelock==3.12.0
Flask==2.3.2
fonttools==4.39.4
frozenlist==1.3.3
fsspec==2023.5.0
ftfy==6.1.1
g2pkk==0.1.2
gitdb==4.0.10
GitPython==3.1.31
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
h11==0.14.0
huggingface-hub==0.15.1
idna==3.4
imageio==2.30.0
inflect==5.6.0
itsdangerous==2.1.2
jamo==0.4.1
jieba==0.42.1
Jinja2==3.1.2
joblib==1.2.0
jsonlines==1.2.0
jsonmerge==1.9.0
jsonschema==4.17.3
k-diffusion==0.0.15
kiwisolver==1.4.4
kornia==0.6.12
lazy_loader==0.2
librosa==0.10.0.post2
llvmlite==0.39.1
MarkupSafe==2.1.3
matplotlib==3.7.1
mecab-python3==1.0.5
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
networkx==2.8.8
nltk==3.8.1
num2words==0.5.12
numba==0.56.4
numpy==1.23.5
packaging==23.1
pandas==2.0.2
pathtools==0.1.2
Pillow==9.5.0
pooch==1.6.0
protobuf==3.19.6
psutil==5.9.5
pycparser==2.21
pydantic==1.10.8
pynndescent==0.5.10
pyparsing==3.0.9
pypinyin==0.49.0
pyrsistent==0.19.3
pysbd==0.3.4
python-crfsuite==0.9.9
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
regex==2023.6.3
requests==2.31.0
resize-right==0.0.2
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.10.1
sentry-sdk==1.25.0
setproctitle==1.3.2
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soundfile==0.12.1
soxr==0.3.5
starlette==0.27.0
sympy==1.12
tensorboardX==2.6
threadpoolctl==3.1.0
tifffile==2023.4.12
tokenizers==0.13.3
torch==2.0.1
torchaudio==2.0.2
torchdiffeq==0.2.3
torchsde==0.2.5
torchvision==0.15.2
tqdm==4.65.0
trainer==0.0.20
trampoline==0.1.2
transformers==4.29.2
TTS==0.14.0
typing_extensions==4.6.3
tzdata==2023.3
tzlocal==5.0.1
umap-learn==0.5.1
unidic-lite==1.0.8
urllib3==2.0.2
uvicorn==0.22.0
wandb==0.15.3
wcwidth==0.2.6
Werkzeug==2.3.4
yarl==1.9.2
